config.txt
.agent2_last_batch_id
.agent1_last_batch_id
.judge_last_batch_id
~$Document_descriptions_reviews.xlsx
project-5469d685-421b-4832-8bb-50b0d702babb.json
.judge_last_batch_info.json
Documentazione/~$ano di riconciliazione.docx
.recon_test_tasks.json
